/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #2a303c;
  --bg-color-2: #282828;
  --btn-color: #554f95;
  --txt: #ffff;
  --txt-back: #a9a9a9;
  --txt-sinopsis: #3a3a3a;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  color: var(--txt);
  margin-top: 3vh;
  font-size: 3rem;
}
.btn {
  background: var(--btn-color);
  color: var(--txt);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--txt);
  font-size: 1.1rem;
}

.contenedor {
  width: 90vw;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.313);
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  padding: 10px 0;
}

.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tkt-header {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:first-child {
  font-weight: 700;
}

.slider-cntnr {
  height: 100vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.grilla-hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 1fr 0px 1fr 0px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 95vw;
}

.grilla-hero > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grilla-hero > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grilla-hero > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grilla-hero > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.grilla-hero > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.grilla-hero > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.grilla-hero > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.grilla-hero > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.grilla-hero > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grilla-hero > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grilla-hero > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grilla-hero > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.grilla-hero > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.grilla-hero > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.grilla-hero > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.grilla-hero > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.grilla-hero > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grilla-hero > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grilla-hero > *:nth-child(19) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grilla-hero > *:nth-child(20) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.grilla-hero > *:nth-child(21) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.grilla-hero > *:nth-child(22) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.grilla-hero > *:nth-child(23) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.grilla-hero > *:nth-child(24) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.arrw-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 4 / 4;
  position: relative;
}

.extra-info {
  position: absolute;
  background-color: var(--btn-color);
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.extra-info img {
  width: 20px;
  height: auto;
}
.extra-info p {
  color: var(--txt);
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 5px;
}

.extra-info p:first-of-type {
  font-weight: normal;
}

.poster img {
  border-radius: 12px;
}
.sinopsis {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: 1 / 4 / 3 / 8;
  padding: 10px;
  background-color: #ffffffae;
  border: 6px solid var(--btn-color);
  border-radius: 5px;
  margin: 20px;
  margin-left: 0px;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.sinopsis-txt {
  padding: 20px;
}

.sinopsis-txt h1 {
  font-size: 4rem;
  font-weight: normal;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
}

.sinopsis-txt p {
  font-size: 1.3rem;
  text-align: justify;
  color: var(--txt-sinopsis);
}
.grid-btns {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: 3 / 4 / 4 / 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.grid-btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.grid-btns p {
  font-size: 1.7rem;
}

.grid-btns img {
  height: 100px;
  width: auto;
}

.arrw-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-area: 1 / 8 / 4 / 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrw img {
  width: 100px;
  height: auto;
}

.cartelera-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90vh;
  margin-bottom: 10vh;
}

.pelicula {
  height: 30vh;
  width: 15%;
  color: white;
  margin-right: 30px;
  margin-bottom: 20px;
}

.pelicula a {
  background-color: var(--btn-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  vertical-align: top;
}

.pelicula img {
  height: auto;
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
  vertical-align: top;
}

.pelicula p:first-child {
  font-size: 1.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.pop {
  background-image: url(img/pop-efect.png);
  background-position: right;
  background-repeat: no-repeat;
}

/* ------------------------------------------------------- */

.reseña-page {
  background-color: var(--bg-color-2);
}

.form-container {
  height: 90vh;
  width: 90vw;
  margin-top: 10vh;
  color: var(--txt);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form label {
  color: var(--txt);
  font-size: 1rem;
}

.formbox {
  color: var(--txt);
  background-color: var(--bg-color-2);
  border: solid 2px var(--btn-color);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  margin-top: 20px;
  font-weight: bold;
}

.position-box {
  position: relative;
}

.btn-reseña {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
form .btn {
  width: 40%;
  margin-top: 20px;
  border: 2px solid var(--btn-color);
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 0px;
  text-align: center;
}

#reiniciar {
  background-color: transparent;
  color: var(--txt-back);
  border: none;
  width: 40%;
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
}

.arrow {
  display: inline-block;
  padding: 10px;
  background: var(--txt);
  background: -o-linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.icon-arrow {
  position: absolute;
  right: 0;
  top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.down {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-container {
  position: relative;
}

#pelicula {
  text-indent: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.label-name {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 200px;
  height: 30px;
  background-color: var(--bg-color-2);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-left: 5px;
}

.pop-1 {
  position: absolute;
  top: -10vh;
  left: 70vw;
  width: 30vw;
  height: auto;
}

.pop-2 {
  position: absolute;
  top: 40vh;
  left: 0vw;
  width: 30vw;
  height: auto;
}
/* -------------------------------------------------------------- */

.section-message {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--txt);
  display: none;
}

.section-message img {
  height: 15vh;
  width: auto;
  margin-bottom: 30px;
}

.section-message h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.section-message p {
  font-size: 1.5rem;
}

.section-message p:first-of-type {
  color: var(--txt-back);
}

@media screen and (max-width: 375px) {
  .flex-header ul {
    display: none;
  }

  .tkt-header {
    display: block;
    height: 70px;
    width: auto;
  }

  .grilla-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sinopsis {
    background-color: transparent;
    border: 0;
    color: var(--txt);
    margin: 0;
  }

  .sinopsis-txt p {
    display: none;
  }

  .sinopsis-txt h1 {
    font-size: 1.5rem;
    border: 0;
    margin-bottom: 0;
  }

  .arrw-left {
    width: 15vw;
    position: absolute;
    top: 40vh;
    left: 0;
  }
  .arrw-right {
    width: 15vw;
    position: absolute;
    top: 40vh;
    left: 85vw;
  }

  .poster {
    width: 60vw;
    margin-top: 100px;
  }

  .extra-info {
    width: 30px;
    height: 30px;
    padding: 23px;
    border-radius: 10px;
  }

  .extra-info p {
    font-size: 0.7rem;
  }

  .grid-btns div a img {
    width: 80px;
    height: 80px;
  }
  .grid-btns p {
    font-size: 1rem;
  }

  .cartelera-flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .pelicula {
    margin-top: 10vh;
    width: 50vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .pop .contenedor .cartelera-flex {
    height: 70vh;
    margin-bottom: 10vh;
  }

  .section-form h1 {
    font-size: 1.7rem;
    width: 50vw;
    margin-bottom: 20px;
  }
  .section-form p {
    margin-bottom: 20px;
  }

  .section-form .contenedor {
    width: 90vw;
  }

  .formbox {
    width: 80vw;
    z-index: 1;
  }
  .icon-arrow {
    left: 75vw;
  }

  .arrow {
    padding: 8px;
  }

  .pop-2 {
    display: none;
  }

  .pop-1 {
    display: none;
  }

  .section-form {
    background-image: url(img/pop-efect.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .section-message {
    text-align: center;
  }
}