@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #2a303c;
  --bg-color-2: #282828;
  --btn-color: #554f95;
  --txt: #ffff;
  --txt-back: #a9a9a9;
  --txt-sinopsis: #3a3a3a;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  color: var(--txt);
  margin-top: 3vh;
  font-size: 3rem;
}
.btn {
  background: var(--btn-color);
  color: var(--txt);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--txt);
  font-size: 1.1rem;
}

.contenedor {
  width: 90vw;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.313);
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  padding: 10px 0;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.tkt-header{
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:first-child {
  font-weight: 700;
}

.slider-cntnr {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.grilla-hero {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 95vw;
}

.arrw-left {
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster {
  grid-area: 1 / 2 / 4 / 4;
}

.extra-info {
  position: absolute;
  background-color: var(--btn-color);
  top: 20vh;
  left: 15vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  height: 60px;
  width: 60px;
}

.extra-info img {
  width: 20px;
  height: auto;
}
.extra-info p {
  color: var(--txt);
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 5px;
}

.extra-info p:first-of-type {
  font-weight: normal;
}

.poster img {
  border-radius: 12px;
  position: relative;
}
.sinopsis {
  grid-area: 1 / 4 / 3 / 8;
  padding: 10px;
  background-color: #ffffffae;
  border: 6px solid var(--btn-color);
  border-radius: 5px;
  margin: 20px;
  margin-left: 0px;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.sinopsis-txt {
  padding: 20px;
}

.sinopsis-txt h1 {
  font-size: 4rem;
  font-weight: normal;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
}

.sinopsis-txt p {
  font-size: 1.3rem;
  text-align: justify;
  color: var(--txt-sinopsis);
}
.grid-btns {
  grid-area: 3 / 4 / 4 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.grid-btns a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid-btns p {
  font-size: 1.7rem;
}

.grid-btns img {
  height: 100px;
  width: auto;
}

.arrw-right {
  grid-area: 1 / 8 / 4 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrw img {
  width: 100px;
  height: auto;
}

.cartelera-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;
  margin-bottom: 10vh;
}

.pelicula {
  height: 30vh;
  width: 15%;
  color: white;
  margin-right: 30px;
  margin-bottom: 20px;
}

.pelicula a {
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  vertical-align: top;
}

.pelicula img {
  height: auto;
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
  vertical-align: top;
}

.pelicula p:first-child {
  font-size: 1.3rem;
  width: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis for truncated text */
}

.pop {
  background-image: url(img/pop-efect.png);
  background-position: right;
  background-repeat: no-repeat;
}

/* ------------------------------------------------------- */

.reseña-page {
  background-color: var(--bg-color-2);
}

.form-container {
  height: 90vh;
  width: 90vw;
  margin-top: 10vh;
  color: var(--txt);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form label {
  color: var(--txt);
  font-size: 1rem;
}

.formbox {
  color: var(--txt);
  background-color: transparent;
  border: solid 2px var(--btn-color);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  margin-top: 20px;
  font-weight: bold;
}

.position-box {
  position: relative;
}

.btn-reseña {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
form .btn {
  width: 40%;
  margin-top: 20px;
  border: 2px solid var(--btn-color);
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 0px;
  text-align: center;
}

#reiniciar {
  background-color: transparent;
  color: var(--txt-back);
  border: none;
  width: 40%;
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
}

.arrow {
  display: inline-block;
  padding: 10px;
  background: var(--txt);
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.icon-arrow {
  position: absolute;
  right: 0;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-container {
  position: relative;
}

#pelicula {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.label-name {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 200px;
  height: 30px;
  background-color: var(--bg-color-2);
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
}

.pop-1 {
  position: absolute;
  top: -10vh;
  left: 70vw;
  width: 30vw;
  height: auto;
}

.pop-2 {
  position: absolute;
  top: 40vh;
  left: 0vw;
  width: 30vw;
  height: auto;
}
/* -------------------------------------------------------------- */

.section-message{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--txt);
  display: none;
}

.section-message img{
  height: 15vh;
  width: auto;
  margin-bottom: 30px;
}

.section-message h2{
  font-size: 2rem;
  margin-bottom: 30px;
}

.section-message p{
  font-size: 1.5rem;

}

.section-message p:first-of-type{
  color: var(--txt-back);
}

@media screen and (max-width: 375px) {
  .flex-header ul {
    display: none;
  }

  .tkt-header{
    display: block;
    height: 70px;
    width: auto;
  }

  .grilla-hero {
display: flex;
    width: 95vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sinopsis {
    background-color: transparent;
    border: 0;
    color: var(--txt);
    margin: 0;
  }

.sinopsis-txt p{
  display: none;
}

.sinopsis-txt h1{
  font-size: 1.5rem; 
  border: 0; 
  margin-bottom: 0;
}

  .arrw-left{
    width: 15vw;
    position: absolute;
    top: 40vh;
    left: 0;
  }
  .arrw-right{
    width: 15vw;
    position: absolute;
    top: 40vh;
    left: 85vw;
  }

  .poster{
    width: 60vw;
    margin-top: 100px;
  }

  .extra-info{
    width: 30px;
    height: 30px;
    padding: 23px;
    border-radius: 10px;
  }

  .extra-info p{
font-size: .7rem  ;
  }



  .grid-btns div a img{
    width: 80px;
    height: 80px;
  }
  .grid-btns p{
    font-size: 1rem;
  }


}